* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */;
}

@font-face {
    font-family: neue;
    src: url(/assets/fonts/neue_bold.otf);
}

body{
	font-family: Helvetica, Arial, sans-serif;
	font-family: neue;
	font-size: 12;
}

/*svg text{
	font-family: Helvetica, Arial, sans-serif;
}*/

/* Path of Study */
g#path-of-study-chart g.path-of-study path {
  stroke: #fff;
  stroke-width: 2px;
  /*fill: #E6E6E6;*/
  fill: white;
  stroke: #E6E6E6;
}

	g#path-of-study-chart g.path-of-study path.linked {
	  stroke: white;
	}

	g#path-of-study-chart g.path-of-study path.selected {
	  fill: rgb(232, 46, 33);
	  stroke: white;
	}

g#path-of-study-chart g.path-of-study text {
  font-size: 9px;
  font-family: neue;
  text-anchor: middle;
  pointer-events: none;
}

	g#path-of-study-chart g.path-of-study text tspan{
	  alignment-baseline: middle;
	}

/* Courses */
g#courses-chart circle.course {
	/*fill: rgb(232, 46, 33);*/
	fill: rgba(232, 46, 33, 1);
}

g#courses-chart circle.anchor {
	fill: none;
}	
g#courses-chart line {
	stroke: hsla(0, 0%, 0%, 0.07);
	pointer-events: none;
}
g#courses-chart line.from-selected {
  /*stroke: hsla(0, 0%, 0%, 0);*/
  visibility: hidden;
}

/* Tooltip */
.d3-tip {
  font-size: 10px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  display: inline;
  width: 100%;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}	