@font-face {
  font-family: 'neue';
  src: url('assets/fonts/neue_bold.otf'); /* IE9 Compat Modes */
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	/*font-family: 'neue';*/
	font-size: 12px;
}

div#logo{
  position: absolute;
  z-index: 10;  
  top: 0;
  left: 0;
}

div#left-panel{
  position: absolute;
  z-index: 20;
  top: 160px;
  left: 40px;
  width: 245px;
  height: calc(100% - 210px);
  overflow-y: auto;
}

select#term-select{
  position: absolute;
  z-index: 30;
  top: 50px;
  right: 285px;
  width: 100px;
}

div#right-panel{
  position: absolute;
  z-index: 40;
  top: 50px;
  right: 40px;
  width: 245px;
  height: calc(100% - 100px);
  
  display: flex;
  flex-direction: column;
}

    div#right-panel div.up{
      /*background: green;*/
    }

      /* Search Box*/
      div#right-panel div.up div#search-container{
        width: 100%;
        visibility: hidden;
        border: 2px solid #E6E6E6;
        height: 24px;
      }

      div#right-panel div.up div#search-container.visible{
        visibility: visible;
      }

        div#right-panel div.up div#search-container input#search-box{
          border: 0;  
          width: calc(100% - 20px);
          height: 20px;
        } 

        div#right-panel div.up div#search-container input#search-button{
          display: inline-block;
          width: 20px;
          height: 20px;
          border: 0;
          background-color: white;
          background-image: url('../images/search_button.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 14px 14px;
          float: right;
          cursor: pointer;
        } 

    /* Courses List */
    div#right-panel div.down{
      flex-grow: 1;
      overflow-y: auto;
      /*background: red;*/
    }

    div#right-panel div ul#courses-list{
      /*display: table-cell;*/
      /*height: 100%;
      overflow-y: auto; */
      /*background-color: red;*/
    }

      div#right-panel div ul#courses-list li.mouseover{
        color: white;
        background-color: black;
      }

      div#right-panel div ul#courses-list li.search-result{
        background-color: rgba(0, 0, 0, 20);
      }      

svg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/*svg text{
	font-family: Helvetica, Arial, sans-serif;
}*/

/* Path of Study */
g#path-of-study-chart g.path-of-study path {
  /*stroke: #fff;*/
  stroke-width: 2px;
  /*fill: #E6E6E6;*/
  fill: white;
  stroke: #E6E6E6;
}

	g#path-of-study-chart g.path-of-study path.linked {
	  stroke: white;
	}

	g#path-of-study-chart g.path-of-study path.selected {
	  fill: rgb(232, 46, 33);
	  stroke: white;
	}

g#path-of-study-chart g.path-of-study text {
  font-size: 9px;
  /*font-family: 'neue';*/
  /*text-anchor: middle;*/
  pointer-events: none;
}

	g#path-of-study-chart g.path-of-study text tspan{
	  alignment-baseline: middle;
	}

/* Courses */
g#courses-chart circle.course {
	/*fill: rgb(232, 46, 33);*/
	fill: rgba(232, 46, 33, 1);
}

g#courses-chart circle.anchor {
	fill: none;
}	
g#courses-chart line {
	stroke: hsla(0, 0%, 0%, 0.07);
	pointer-events: none;
}
g#courses-chart line.from-selected {
  stroke: rgba(232, 46, 33, 0.1);
  /*stroke: hsla(0, 0%, 0%, 0);*/
  /*visibility: hidden;*/
}

/* Tooltip */
.d3-tip {
  font-size: 10px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  display: inline;
  width: 100%;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}	